body{
  margin:20%;
  background-color: lightgray;
}

.progress-bar-container {
  width: 80%;
  height: 20px;
  background-color: #ccc;
  border-radius: 10px;
  margin: 20px auto;
}

.progress-bar {
  height: 100%;
  background-color: #4CAF50;
  border-radius: 10px;
  transition: width 1s;
}
